<div style="padding-left: 100px;">
    <h1> Add Loans</h1>
  
    <form [formGroup]="loansForm" (ngSubmit)="saveLoan()" >
        <div>
          <label for="bookId">BookId:</label>
          <input type="number" id="bookId" formControlName="bookId" />
        </div>
        <div>
          <label for="studentId">StudentId:</label>
          <input type="number" id="studentId" formControlName="studentId" />
        </div>
        <div>
          <label for="checkoutDate">CheckoutDate:</label>
          <input type="text" id="checkoutDate" formControlName="checkoutDate" />
        </div>
        <div>
          <label for="dueDate">Due Date:</label>
          <input type="text" id="dueDate" formControlName="dueDate" />
        </div>
        <div>
          <label for="returnDate">Return Date:</label>
          <input type="text" id="returnDate" formControlName="returnDate" />
        </div>
        
        <button type="submit">Save</button>
      </form>
  </div>
  
  <h3> Form status: {{loansForm.valid}}</h3>
  <h3> Form json: {{loansForm.value | json}}</h3>
